body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: forestgreen;
}

.App {
	background: rgb(224, 255, 212);
	margin: 20px auto;
	width: 85%;
	max-width: 700px;
	color: forestgreen;
}

.navbar {
	padding: 10x 20px;
	text-align: center;
	background: lightgreen;
}

.navbar h1 {
	margin: 10px 0;
}
